#contact {
  padding: 60px;
}

.section_title h2 {
  font-family: sans-serif;
  font-size: 32px;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 20px;
  padding-bottom: 20px;
  position: relative;
  color: #37517e;
  display: block;
  margin-block-start: 0.83em;
  margin-block-end: 0.83em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}

.section_title {
  text-align: center;
  margin-left: 40px;
  margin-right: 40px;
}

.section_title h2::before {
  content: "";
  position: absolute;
  display: block;
  width: 120px;
  height: 1px;
  background: #ddd;
  bottom: 1px;
  left: calc(50% - 60px);
}

.section_title h2::after {
  content: "";
  position: absolute;
  display: block;
  width: 40px;
  height: 3px;
  background: #47b2e4;
  bottom: 0;
  left: calc(50% - 20px);
}

.section_title p {
  text-align: center;
  display: block;
  margin-block-start: 2em;
  margin-block-end: 2em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  color: #444444;
  font-size: 1.1rem;
}

.row {
  display: flex;
  justify-content: space-between;
  margin-left: 40px;
  margin-right: 40px;
}

.ourinfo {
  flex: 0 0 auto;
  flex-basis: 50%;
  width: 41.66666667%;
  padding: 30px;
  box-shadow: 0 0 24px 0 rgba(0, 0, 0, 0.1);
  border-top: solid #47b2e4 2px;
  border-bottom: solid #47b2e4 2px;
  margin-right: 5px;
}
.yourinfo {
  flex: 0 0 auto;
  justify-content: space-between;
  flex-basis: 50%;
  width: 58.33333333%;
  padding: 30px;
  box-shadow: 0 0 24px 0 rgba(0, 0, 0, 0.1);
  border-top: solid #47b2e4 2px;
  border-bottom: solid #47b2e4 2px;
  margin-left: 5px;
}

label {
  display: block;
  padding-bottom: 8px;
}
input {
  display: block;
  height: 44px;
  box-shadow: none;
  font-size: 14px;
  border-radius: 4px;
}

.name_and_email {
  display: flex;
  justify-content: space-between;
}

.box {
  margin: 12px;
}

#name-box {
  flex-grow: 1;
  display: block;
  width: 325px;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  appearance: none;
}

#email-box {
  flex-grow: 1;
  display: block;
  width: 325px;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  appearance: none;
}

#subject-box {
  flex-grow: 1;
  display: block;
  width: 100%;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  appearance: none;
}

#message-box {
  flex-grow: 1;
  display: block;
  width: 100%;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  appearance: none;
}

.ourinfo i {
  font-size: 20px;
  color: #47b2e4;
  float: left;
  width: 44px;
  height: 44px;
  background: #e7f5fb;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50px;
}

.ourinfo h4 {
  padding: 0 0 0 60px;
  font-size: 22px;
  font-weight: 600;
  margin-bottom: 5px;
  color: #37517e;
}

.ourinfo p {
  padding: 0 0 10px 60px;
  margin-bottom: 20px;
  font-size: 14px;
  color: #6182ba;
}

.yourinfo label {
  padding-bottom: 8px;
}

.sendbox {
  margin-top: 3rem;

  display: flex;
  justify-content: center;
}
.sendbox button {
  font-size: 20px;
  background: #47b2e4;
  border: 0;
  padding: 12px 34px;
  color: #fff;
  border-radius: 50px;
  cursor: pointer;
}
