<<<<<<< Updated upstream
=======
@import url('https://fonts.googleapis.com/css2?family=Jost:wght@500;700&display=swap');
/* 
section{
    padding: 60px 0;
    overflow: hidden;
    display: block;
}
*, ::after, ::before{
    box-sizing: border-box;
}
.row{
    opacity: 1;
    transition-timing-function: ease-in-out;
    transition-duration: 1s;
    transition-property: opacity, transform;
    --bs-gutter-x: 1.5rem;
    --bs-gutter-y: 0;
    display: flex;
    flex-wrap: wrap;
    transform: translateZ(0) scale(1);
    padding: 12px 0;
    text-align: center;
}
.contents{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-basis: 50%;
    padding: 3%;
}
.section-bg {
    background-color: #f3f5fa;
}
.container{
    max-width: 540px;
    --bs-gutter-x: 1.5rem;
    --bs-gutter-y: 0;
    width: 100%;
    margin-right: auto;
    margin-left: auto;
}
.img-fluid{
    align-items: center!important;
    justify-content: center!important;
    display: flex!important;
    flex: 0 0 auto;
    width: 50%;
    filter: grayscale(100%);
    transition: all 0.5s ease-in-out;
}
.img-fluid:hover {
    filter: grayscale(0%);
    transform: scale(1.2);
}
.img-grid{
    display: flex;
    flex-wrap: wrap;
}
*/
.about_container{
    opacity: 1;
    transform: translateZ(0);
    transition-property: opacity,transform;
    --bs-gutter-x:1.5rem;
    --bs-gutter-y:0;
}
.section_title{
    text-align: center;
    padding-bottom: 
    30px;
}
.section_title h2{
    font-size: 32px;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 20px;
    padding-bottom: 20px;
    position: relative;
    color: #37157e;
}
.section_title h2::before {
    content: "";
    position: absolute;
    display: block;
    width: 120px;
    height: 1px;
    background-color: #ddd;
    bottom: 1px;
    left: calc(50% - 60px);
}
.section_title h2::after {
    content: "";
    position: absolute;
    display: block;
    width: 40px;
    height: 3px;
    background-color: #47b2e4;
    bottom: 0;
    left: calc(50% - 20px);
}
.row_contents{
    display: flex;
    padding-top: 30px;
    padding-left: 0;
    padding-right: 0;
    padding: 60px 100px 0 100px;
    flex-wrap: wrap;
}
.why-us h3 {
    font-weight: 400;
    font-size: 34px;
    color: #37517e;
}
.row_content p {
    font-size: 15px;
    color: #848484;
    margin-top: 10px;
    margin-bottom: 1rem;
    
}
.row_contents>*{
    flex-shrink: 0;
    width: 100%;
    max-width: 100%;
}
.about .row_contents ul i {
    position: absolute;
    left: 0;
    top: 2px;
    font-size: 20px;
    color: #47b2e4;
    line-height: 1;
}
.row_contents>p{
    margin-top: 0;
    margin-bottom: 1rem;
}
.about .row_contents ul li {
    padding-left: 28px;
    position: relative;
}
.about>.row_contents>.row_contents_1>ul>li {
    display: list-item;
    text-align: -webkit-match-parent;
}
.about .row_contents ul li+li {
    margin-top: 10px;
}
.row_contents2 {
    padding-top: 1.5rem! important;
}
.about .row_contents .btn_learn_more {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-size: 14px;
    letter-spacing: 1px;
    display: inline-block;
    padding: 12px 32px;
    border-radius: 4px;
    transition: 0.3s;
    line-height: 1;
    color: #47b2e4;
    animation-delay: 0.8s;
    margin-top: 6px;
    border: 2px solid #47b2e4;
}


#hero {
    background-color: #37517e;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 80vh;
    padding: 60px 0;
}

#hero .container {
    display: flex;
    margin: 0 6%;
}

#hero .container>* {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#hero .container .text-container {
    font-family: 'Jost', sans-serif;
}

#hero .container .text-container h2 {
    font-size: 3rem;
    font-weight: 700;
    color: #ffffff;
    margin-bottom: 10px;
    line-height: 3.5rem;
}

#hero .container .text-container h3 {
    font-weight: 500;
    font-size: 1.5rem;
    line-height: 1.2;
    color: #ffffff99;
    margin-bottom: 50px;
}

#hero .text-container .btn-container {
    display: flex;
    align-items: center;
}

#hero .text-container .btn-container a {
    font-weight: 500;
    text-decoration: none;
    color: #ffffff;
}

#hero .text-container .btn-container a:first-child {
    background-color: #47b2e4;
    display: inline-block;
    letter-spacing: 1px;
    padding: 14px 28px;
    display: flex;
    align-items: center;
    border-radius: 50px;
    transition: 0.5s;
}

#hero .text-container .btn-container a:first-child:hover {
    background-color: #209dd8;
}

#hero .text-container .btn-container a:last-child {
    margin-left: 25px;
    display: flex;
    align-items: center;
}

#hero .text-container .btn-container a:last-child i {
    font-size: 2rem;
    margin-right: 0.5rem;
    transition: 0.5s;
}

#hero .text-container .btn-container a:last-child span {
    font-family: sans-serif;
    font-weight: 400;
}

#hero .text-container .btn-container a:last-child:hover i {
    color: #47b2e4;
}

#hero .container .image-wrapper img {
    width: 100%;
    animation: up-down 2s ease-in-out infinite alternate;
}

@keyframes up-down {
    0% {
        transform: translateY(10px);
    }

    100% {
        transform: translateY(-10px);
    }
}

/* portfolio css */

.portfolio #portfolio-flters {
    list-style: none;
    margin-bottom: 20px;
  }

.portfolio #portfolio-flters li {
    cursor: pointer;
    display: inline-block;
    margin: 10px 5px;
    font-size: 15px;
    font-weight: 500;
    line-height: 1;
    color: #444444;
    transition: all 0.3s;
    padding: 8px 20px;
    border-radius: 50px;
    font-family: "Poppins", sans-serif;
}

.portfolio #portfolio-flters li:hover,
.portfolio #portfolio-flters li.filter-active {
    background: #47b2e4;
    color: #fff;
}

.portfolio .portfolio-item {
    position: relative;
    margin-bottom: 30px;
}

.portfolio .portfolio-item .portfolio-img {
    display:block;
    overflow: hidden;
}

.portfolio .portfolio-item .portfolio-img img {
    width: 100%;
    transition: all 0.6s;
}

.portfolio .portfolio-item .portfolio-info {
    opacity: 0;
    position: absolute;
    left: 15px;
    bottom: 0;
    z-index: 3;
    right: 15px;
    transition: all 0.3s;
    background: rgba(55, 81, 126, 0.8);
    padding: 10px 15px;
}

.portfolio .portfolio-item .portfolio-info h4 {
    font-size: 18px;
    color: #fff;
    font-weight: 600;
    color: #fff;
    margin-bottom: 0px;
}

.portfolio .portfolio-item .portfolio-info p {
    color: #f9fcfe;
    font-size: 14px;
    margin-bottom: 0;
}

.portfolio .portfolio-item .portfolio-info .preview-link,
.portfolio .portfolio-item .portfolio-info .details-link {
    position: absolute;
    right: 40px;
    font-size: 24px;
    top: calc(50% - 18px);
    color: #fff;
    transition: 0.3s;
}

.portfolio .portfolio-item .portfolio-info .preview-link:hover,
.portfolio .portfolio-item .portfolio-info .details-link:hover {
    color: #47b2e4;
}

.portfolio .portfolio-item .portfolio-info .details-link {
    right: 10px;
}

.portfolio .portfolio-item:hover .portfolio-img img {
    transform: scale(1.15);
}

.portfolio .portfolio-item:hover .portfolio-info {
    opacity: 1;
}

.portfolio-container{
        -moz-column-width: 18em;
        -webkit-column-width: 18em;
        -moz-column-gap: 1em;
        -webkit-column-gap:1em; 
}

/* Team CSS */

.img-fluid {
    max-width: 100%;
    height: auto;
  }
>>>>>>> Stashed changes
