
#services {
    padding: 30px 50px;
    overflow: hidden;
    background-color: #f3f5fa;
    box-sizing: border-box;
    display: block;
    margin: 0;   
}




#services .title{
    font-size: 32px;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 10px;
    padding-bottom: 10px;
    position: relative;
    color: #37517e;
    font-family: "Jost", sans-serif;
    line-height: 1.2;
    text-align: center;
}


#services .mag{
    color: #444444;
    font-size: 15px;   
    margin-top: 0;
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    text-align: center;
}

#services .title h2::after {
    content: "";
    position: absolute;
    display: block;
    width: 40px;
    height: 3px;
    background: #47b2e4;
    bottom: 0;
    left: calc(50% - 20px);
}

#services .title h2::before {
    content: "";
    position: absolute;
    display: block;
    width: 120px;
    height: 1px;
    background: #ddd;
    bottom: 1px;
    left: calc(50% - 60px);
}


#services .box {
    transform: translateY(-10px);
    box-shadow: 0px 0 25px 0 rgba(0, 0, 0, 0.1);
    padding: 30px 20px ;
    margin: 10px;
    transition: all ease-in-out 0.4s;
    background: #fff;
    box-sizing: border-box;
    display: block;
    position: relative;
}


#services .box:hover {
    background-color: rgb(255, 255, 255);
    transform: translateY(-15px);
}

#services .box-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 10;
}


#services .lsmn{
    color: #37517e;
    font-weight: 500;
    margin-bottom: 15px;
    font-size: 20px;
    margin-top: 10px;
    font-family: "Jost", sans-serif;
}

#services .lsmn:hover {
    color: #47b2e4;
}

#services .vdea{
    color: #000000;
    font-weight: 500;
    font-size: 13px;
    font-family: "Jost", sans-serif;
}

#services .pic{
    color: #47b2e4;
    font-size: 25px;
}


